pandas
boto3
snowflake-snowpark-python
snowflake-connector-python
snowflake-sqlalchemy
jupyter
python-dotenv
pymysql
tiktoken
openai
llama-index
anthropic
# literalai  # removed - service shut down, replaced with Snowflake storage
streamlit
streamlit-authenticator
langchain-anthropic
langchain-openai
cohere
langchain-cohere
pypdf2
llama-index
llama-index-core
llama-parse
llama-index-readers-file
elevenlabs
streamlit-agraph
pygame